.blue {
    background-color: #76A9FA;
}

.purple {
    background-color: #AC94FA;
}

.green {
    background-color: #31C48D;
}

.pink {
    background-color: #F17EB8;
}

.yellow {
    background-color: #E3A008;
}

.red {
    background-color: #F98080;
}